body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
 
  background-image: url("/Users/danielaramos/Documents/GitHub/personal1/src/pics/back.jpg");
  
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  

 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

.home-txt{
  margin: 50px;
  align-items: center;
  align-self: center;
  font-size: smaller;
  font-family: Georgia, Times, "Times New Roman", serif, light;
  width: 40rem;
  font-weight: lighter;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #101616; 
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  font-family: "EB Garamond", serif;
  font-weight: lighter;
}
nav {
  display: flex;
  justify-content:right;
  padding: 0.2rem calc((100vw - 1000px) / 19);
  z-index: 12;
  background:local;
  padding-top: 3rem;
  
}


.link-styles {
  color:  #070706;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    &.active {
        color: #4d4dff;
    }
    
  
}

.abt{
  margin-top: 5rem;
  display: flex;
  align-content: center;
  

}

.home {
  display: flex;
  justify-content: center;
  
}

.pics {
  margin: 30px;
 
  
}

.home-text {
  
  display:flexbox;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  
  text-align : center;
  
  
}

.abt-text{
  display:flexbox;
  justify-content: center;
  text-decoration: none;
  
  

}

.home-title {
  margin: 50px;
  
  
}

.proj-title {
  margin: 50px;
  
  align-items: center;
  font-size: 40px;
  font-family: Georgia, Times, "Times New Roman", serif, light;
  font-weight: lighter;
  width: fit-content;
  color: #e67a7a; 
  flex-basis: 100%
}

.blurb{
  margin: 50px;
  align-items: center;
  font-size: smaller;
  font-family: Georgia, Times, "Times New Roman", serif, light;
  font-weight: lighter;
}

.blurb-proj{
  margin: 50px;
  
  align-items: center;
  font-size: medium;
  font-family: Georgia, Times, "Times New Roman", serif, light;
  font-weight: lighter;
  width: fit-content;
  
  flex-basis: 100%
}

.projects {
  display: flex;
  padding-inline: 0.2rem calc((100vw - 1000px) / 19);
  
}

.link-button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
  padding: 50px;
  color: #0a0a0d;
  background-color: #9898c7;
  width: 300px;
  height:auto;
  flex-basis: 100%;
  margin: 50px;
  background: local;
  background-position:bottom;
  border-radius: 5rem;
  border-color: rgb(238, 110, 13);
  
}


