@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #F7F4EA;
  overflow-x: hidden; /* prevent horizontal scroll */
}


.home-txt{
  margin: 50px;
  align-items: center;
  align-self: center;
  font-size: smaller;
  font-size: 'Inter', sans-serif;
  width: 40rem;
  font-weight: lighter;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-family: 'Merriweather', serif;
}


h1 {
  display: flex;
  
  justify-content: left;
  margin-left: 30px;
  align-items: center;
  font-size: 60px;
  color: #f5f9f9; 
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  font-family: "EB Garamond", serif;
  font-family: 'Roboto';
  font-family: 'Inter', sans-serif;;
  font-weight: lighter;
  height: 0px;
}

h3{
  margin-top: 100px;
  font-family: 'Inter', sans-serif;

}
nav {
  display: flex;
  justify-content:right;
  padding: 0.2rem calc((100vw - 1000px) / 19);
  z-index: 12;
  background-size:cover;
  
  padding-top: 3rem;
  /* background-color: #fff8f8; */
  background-color: #524956;
  background-color: #21182e;
  background-color: #f8efef;
  background-color: #F7F4EA;
  margin-right: 5%;
  flex-wrap: wrap; 
}
@media screen and (max-width: 600px) {
  nav {
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
    margin-left: 8vw;
  }
}



.link-styles {
  color:  #070706;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  /* color: #f5f9f9; */
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    &.active {
        font-weight: 500;
        text-decoration: underline;
    }
}

@media screen and (max-width: 600px) {
  .link-styles {
    font-size: 15px;
  }
}


.aboutpage{
  background-color: F7F4EA; 
}



.speakpage{
  padding-top: 1rem;
  
}
.contactpage{

}


.projpage{

  padding-top: 1rem;
  background-color: #fff8f8;
  background-color: #524956;
  background-color: #21182e;
  background-color: #f8efef;
  background-color: #F7F4EA;
  
  background-position: 50%;
  
}



.nav-btn {
  background-color: transparent;
  /* border: 2px solid #333; */
  color: #121212;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  transition: all 0.3s ease;
  font-weight: normal;
  text-transform: uppercase;
  height: 35px;
  border-radius: 0px;
  border-style: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: 'Inter', sans-serif;
  font-weight: 30px;
}
.nav-btn.active {
  font-weight: 600;
  color: #333;
  color: #F7F4EA;
  background-color:  transparent;
}

.nav-btn:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

/* Old Speaking Page */

.subnav2{
  
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  height: fit-content;
  margin-top: 80px;
  margin-bottom: 0px;
  background-color: #977057;
  width: 90%;
  border-style: solid;
  border-radius: 30rem;
  border: 1rem;
}

h4{
  font-weight: lighter;
  font-size: 30px;
  margin-right: 30px;
  height: 0px;
}

.descr{
  right: 50%;
  display: flex;
  text-align: center;
  align-self: center;
  vertical-align: middle;
}

.link-styles2 {
  color:  #070706;
  
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    cursor: pointer;
    &.active {
        color: #4d4dff;
    }
    margin-right: 54.4%;
    margin-right: 48.4%;
}

/* Old Speaking Page */



/********************************* About *****************************************/

.abt{
  
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 100px;
}

.abt-text{
  width: 60%;
  margin-right: 80px;
  background-color: #f4e3a5; 
  margin-top: 30px;
  border-radius: 30px;
  height: fit-content;

}

.blurb-abt{
  
  margin: 30px;
  font-family: Georgia, Times, "Times New Roman", serif, light;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .abt {
    flex-direction: column;
    margin-top: 100px;
    width: 90vw;
    min-height: fit-content;
    
    
  }
  .abt-text{
    width: 90vw;
    margin: 4%;
    background-color: #f4e3a5; 
    margin-top: 30px;
    border-radius: 30px;
    height: auto;
    
    max-width: 90vw;
  
  }
  .blurb-abt{
    
    font-family: Georgia, Times, "Times New Roman", serif, light;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    
    
  }
  .aboutTitle{
    margin-bottom: 20vh;
  }
  .pics{
    width: 90vw;
    height: auto;
    margin: 3%;
  }
}

/********************************* About *****************************************/

/********************************* Home *****************************************/

.homepage{
  background-image: url('/Users/danielaramos/Documents/GitHub/personal1/src/pics/back_final.png');
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.home {
  display: flex;
  justify-content: center;
  
}

.home-title {
  margin: 50px; 
}

.pics {
  margin: 30px;
  border-radius: 30px;
 
  
}

.home-text {
  
  display:flexbox;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  top: 50%;
  transform: translate(0, 290%);
  text-align : center;
  justify-items: center;
  
}
@media screen and (max-width: 600px) {
  body{
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .home-text {
    padding: 0px;
    max-width: 100vw;
    overflow-x: hidden;
  }

  .home-title {
    font-size: 24px;
    
  }

  .typewriter-text {
    font-size: 12px;
    overflow-x: hidden;
  }
  .homepage {
    overflow-x: hidden;
    background-position: top center;
    max-width: 100vw;
    overflow-x: hidden;
  }
  
}



/********************************* Home *****************************************/

/********************************* Projects *****************************************/

.subnav{
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  height: fit-content;
  margin-top: 80px;
  margin-bottom: 0px;
  background-color: #c4d8a7;
  background-color: #80A1D4;
  width: 90%;
  border-style: solid;
  border-radius: 30rem;
  border: 1rem;
  font-family: 'Inter', sans-serif;
}
@media screen and (max-width: 600px) {
  .subnav {
    width: 90vw;
    min-width: fit-content;
    height: 9vh;
    
    
  }
}
.proj{
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */ 
}
.subproj{
  --s: 10px; /* control the size */

  height: 80%px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  /* background-color:#c4d8a7; */
  border-radius: 30px;
  margin-bottom: 50px;
  min-width: fit-content;
  margin-left: 30px;
  
}


.proj-title {
  align-self: center;
  align-items: center;
  font-size: 100px;
  font-family: 'Inter', sans-serif;
  
  font-weight: 200;
  
  margin-left: 2rem;
  margin-right:2rem;
}

.presentation{
  position: fixed; 

  display: flex;
  flex-direction: row;
  margin-top: 4.3%;
  width: 90%;
  justify-content: center;
  justify-content: space-between;
  position: sticky;

}



.blurb{
  
  align-items: center;
  font-size: smaller;
  font-family: Georgia, Times, "Times New Roman", serif, light;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  width: 50%;
  height: 520px;
  margin-bottom: 20px;
  background-color: #f6f5f3;
  background-color: #F7F4EA;
  border-radius: 30px;
  
  
}

.blurb-proj{
  margin: 10px;
  font-family: Georgia, Times, "Times New Roman", serif, light;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  
}

.proj_pics{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: calc(0.1 * 180px);
  
  border-color: #f6f5f3;
  border-radius: 30px;
  margin-right: 50px;

}

.projects {
  display: flex;
  align-items: center;
  justify-content: center; 
  
}


.project_links{
  
  color: #c4d8a7;
  color:#80A1D4;
  color: black;
  text-decoration: none;
  font-size: 3rem;
  justify-self: center;
  /* border-style: groove; */
  margin-bottom: 100px;
  margin-bottom: 20px;
  font-size: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  font-size: 'Inter', sans-serif;
  
}

.triangle-clip {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  width: 40px;
  height: 60px;
  border: none;
  color: #061d25;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #80A1D4;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 40px; 
}

.triangle-clip:hover {
  background-color: #799366;
  background-color:#f69fcb;
  background-color: #c4d8a7;
  background-color: #799366;
  background-color: #4170b7; 
}



.link-button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
  padding: 50px;
  color: #0a0a0d;
  background-color: #9898c7;
  width: 300px;
  height:auto;
  flex-basis: 100%;
  background: local;
  background-position:bottom;
  border-radius: 5rem;
  border-color: rgb(0, 0, 0);
  align-self: center;
  
}

.href{
  align-self: center;
  bottom: 0;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .proj{
    margin-top: 0px;
    display: flex;
    
    flex-direction: column;
    justify-content: left; /* horizontal */
    align-items: center;     /* vertical */ 
  }
  .subproj{
    width: 90vw;
   
  }
  .presentation{
    position: fixed; 
  
    display: flex;
    flex-direction: column;
    margin-top: 4.3%;
    width: 90vw;
    justify-content: center;
    justify-content: space-between;
    position: sticky;
  
  }
  
  
  
  .blurb{
    
    align-items: center;
    font-size: smaller;
    font-family: Georgia, Times, "Times New Roman", serif, light;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    width: 80%;
    height: fit-content;
    margin-bottom: 20px;
    background-color: #f6f5f3;
    background-color: #F7F4EA;
    border-radius: 30px;
    
    
  }
  
  .blurb-proj{
    margin: 10px;
    font-family: Georgia, Times, "Times New Roman", serif, light;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 2vh;
    
  }
  
  .proj_pics{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
    border-style: solid;
    border-color: #f6f5f3;
    border-radius: 30px;
    width: 80vw;
    height: auto;
  
  }
  
  .projects {
    display: flex;
    align-items: center;
    justify-content: center; 
    
  }
  
  
  .project_links{
    
    color: #c4d8a7;
    color:#80A1D4;
    color: black;
    text-decoration: none;
    font-size: 3rem;
    justify-self: center;
    /* border-style: groove; */
    margin-bottom: 100px;
    margin-bottom: 20px;
    font-size: 60px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-size: 'Inter', sans-serif;
    
  }
  
  .triangle-clip {
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    width: 40px;
    height: 60px;
    border: none;
    color: #061d25;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #80A1D4;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 40px; 
  }
}

/********************************* Projects *****************************************/

/********************************* Speaking *****************************************/

.timeline-dot:hover {
  transform: scale(1.8);
}


.speaking2title{
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

#div1{
  padding: 50px;
  height: 400px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
  
  margin-left: 0px;
  
}

.timeline-cont {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
  
  margin-bottom: 40px;
  margin-left: 0;
}

.timeline {
  position: absolute;
  height: 4px;
  background-color: #3730a3;
  width: 80%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.timeline-arrow {
  position: absolute;
  right: 9.5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid #3730a3;
  color: #C0B9DD;
  fill: #C0B9DD;
}

.timeline-items {
  display: flex;
  justify-content: space-between;
  width: 80%; /* match the timeline line width */
  z-index: 2;
  position: relative;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.timeline-dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #3730a3;
  border-block-style: solid;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 3;
  transition: transform 0.2s ease;
  position: relative;
  top: 30px; /* keeps it centered */
}

.timeline-dot.selected {
  background-color: #e0e7ff;
  border: 1px solid #e0e7ff;
}

.timeline-title {
  margin-top: 6px;
  font-size: 10px;
  color: #333;
  max-width: 80px;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

.sp_pic{
  height: 350px;
  margin-left: 200px;
  border-radius: 30px;
}


@media screen and (max-width: 600px) {
  #div1 {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: fit-content;
    margin-left: 5%;
    
    
  }

  .sp {
    width: 90%; /* Make the container take full width */
    margin-left: 20vw;
    

  }

  .sp_pic {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-left: 0;
    border-radius: 30px;
    display: block;
    max-width: 100%;
  }

  .sp_blurb {
    width: 80%; /* Make the blurb fit within the screen */
  }

  .timeline_cont {
    width: 100%; /* Make sure the timeline container is full width */
    justify-content: flex-start; /* Align timeline content to the left */
    margin-bottom: 40px;
    margin-bottom: 90px;
    margin-left: 5%;
  }
  .timeline {
    width: 0; /* Shrink the timeline to fit within the screen */
    

  }

  .timeline-items {
    width: 100%; /* Make timeline items fill the screen */
    justify-content: flex-start; /* Align items to the left */
    padding: 0 9%; 
  }

  .timeline-item {
    min-width: 100px;
  }

  .timeline-dot {
    width: 20px;
    height: 20px;
    top: 5px;
  }

  .timeline-title {
    font-size: 0px; 
    margin-top: 8px; 
    text-align: center; 
    
  }
  .timeline-arrow {
    border-left: 12px solid transparent;
  }
}


/********************************* Speaking *****************************************/

/********************************* Contact *****************************************/
.contactpage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f4ea;
  font-family: 'Inter', sans-serif;
}

.contact {
  background-color: #c0b9dd;
  padding: 60px 80px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  
}
@media screen and (max-width: 600px){
  .contactpage{
  justify-content:flex-start;
  padding: 2px;
  }
  .contact{
    padding: 60px 80px;
    width: 60vw;
    margin-left: 4vw;

  }
}
