body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
 
  
  

 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

.home-txt{
  margin: 50px;
  align-items: center;
  align-self: center;
  font-size: smaller;
  font-family: Georgia, Times, "Times New Roman", serif, light;
  width: 40rem;
  font-weight: lighter;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #101616; 
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  font-family: "EB Garamond", serif;
  font-weight: lighter;
}
nav {
  display: flex;
  justify-content:right;
  padding: 0.2rem calc((100vw - 1000px) / 19);
  z-index: 12;
  background-image: url("/Users/danielaramos/Documents/GitHub/personal1/src/pics/background.png");
  
  background-size:cover;
  
  padding-top: 3rem;
  
}
.aboutpage{
  background-image: url("/Users/danielaramos/Documents/GitHub/personal1/src/pics/backgr2.png");
  background-size:cover;
  background-position: 50%;
}
.projpage{
  background-image: url("/Users/danielaramos/Documents/GitHub/personal1/src/pics/backgr2.png");
  
  background-repeat: no-repeat;
  background-size:cover;
  padding-top: 1rem;
  
  background-position: 50%;
}
  

  


.descr{
  
  right: 50%;
  display: flex;
  text-align: center;
  align-self: center;
  vertical-align: middle;
  

}


.link-styles {
  color:  #070706;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    &.active {
        color: #4d4dff;
    }
    
  
}

.abt{
  
  display: flex;
  align-content: center;
  

}
.homepage{
  background-image: url("/Users/danielaramos/Documents/GitHub/personal1/src/pics/background.png");
  
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.home {
  display: flex;
  justify-content: center;
  
}

.pics {
  margin: 30px;
 
  
}

.home-text {
  
  display:flexbox;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  
  text-align : center;
  
  
}

.abt-text{
  display:flexbox;
  justify-content: center;
  text-decoration: none;
  
  

}

.home-title {
  margin: 50px;
  
  
}

.subproj{
  --s: 10px; /* control the size */
  padding: var(--s);
  background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);

  border: calc(2*var(--s)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*var(--s));

  width: 800px;
  height: 500px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  position:relative;
  
  
  
}

.aboutTitle{
  align-self: left;
}

.proj-title {
  align-self: center;
  align-items: center;
  font-size: 50px;
  font-family: Georgia, Times, "Times New Roman", serif, light;
  
  font-weight: 200;
  
  margin-left: 2rem;
  margin-right:2rem;
}

.blurb{
  margin: 50px;
  align-items: center;
  font-size: smaller;
  font-family: Georgia, Times, "Times New Roman", serif, light;
  font-weight: lighter;
}

.blurb-proj{
  margin: 50px;
  
  align-items: center;
  font-size: medium;
  font-family: Georgia, Times, "Times New Roman", serif, light;
  font-weight: lighter;
  width: fit-content;
  
  flex-basis: 100%
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.link-button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
  padding: 50px;
  color: #0a0a0d;
  background-color: #9898c7;
  width: 300px;
  height:auto;
  flex-basis: 100%;
  background: local;
  background-position:bottom;
  border-radius: 5rem;
  border-color: rgb(0, 0, 0);
  align-self: center;
  
}

.href{
  align-self: center;
  bottom: 0;
  

  position: absolute;
}





/* CSS */
.button-55 {
  bottom: 0;
  left:0;
  right:0;
  width:200px;
  background-color: #e9497e;
  background-image: none;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style:hidden;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #f6f5f3;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  align-self: center;
  margin-bottom: 2rem;
  
  
  
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}