body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: #fff4e1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #84cbcb; 
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}
nav {
  height: 85px;
  display: flex;
  justify-content:right;
  padding: 0.2rem calc((100vw - 1000px) / 19);
  z-index: 12;
  background: #e67a7a;
}


.link-styles {
  color:  #fff4e1;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    &.active {
        color: #4d4dff;
    }
    
  
}

.home {
  display: flex;
  justify-content: center;
  
}

.pics {
  margin: 30px;
  
}

.home-text {
  
  display: flexbox;
  justify-content: center;
  text-decoration: none;
  
}

.home-title {
  margin: 50px;
  
  
  
}

.proj-title {
  margin: 50px;
  
  align-items: center;
  font-size: 40px;
  font-family: Georgia, Times, "Times New Roman", serif, light;
  font-weight: lighter;
  width: fit-content;
  color: #e67a7a; 
  flex-basis: 100%
}

.blurb{
  margin: 50px;
  align-items: center;
  font-size: smaller;
  font-family: Georgia, Times, "Times New Roman", serif, light;
  font-weight: lighter;
}

.blurb-proj{
  margin: 50px;
  
  align-items: center;
  font-size: medium;
  font-family: Georgia, Times, "Times New Roman", serif, light;
  font-weight: lighter;
  width: fit-content;
  
  flex-basis: 100%
}

.projects {
  display: flex;
  padding-inline: 0.2rem calc((100vw - 1000px) / 19);
  
}

.link-button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
  padding: 50px;
  color: #f1f1f6;
  background-color: #9898c7;
  width: 300px;
  height:auto;
  flex-basis: 100%;
  margin: 50px;
  background-image: url("indigcomp.png");
  background-position:bottom;
  
  
}


